node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/allure-results/
/allure-report/

# Docusaurus
/.docusaurus/
/build/
/versioned_docs/
/versioned_sidebars/
/src/assets/
